html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    height: 600px;
    width: 800px;

    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    color: #333;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
}